body {
    font-family: sans-serif;
    background-image: url("Uhmdqp.jpg");
    background-repeat: repeat;
    background-position: center;
    max-width: 1600px;
    max-height: 1600px;
    margin:100px;
}

header, main, aside, footer {
    margin-left: 30px;
}

.main {
    flex-grow: 2;
}

@font-face {
    font-family: NanumBrush;
    src: url(NanumBrushScript-Regular.ttf);
}

h1,h2,h3,h4,h5,h6 {
    font-family: NanumBrush;
}

.container {
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    display: flex
}


a:link, a:visited{
    font-family: NanumBrush;
    font-size: 30px;
    color: rgb(182, 174, 176);
    text-decoration: none;
    padding: 8px;
    background-color: rgb(110, 18, 89);
    border-radius: 5px;
}

a:hover {
    color:rgb(128, 1, 43);
    background-color: rgb(182, 174, 176);
}

a:active {
    color:rgb(128, 1, 43);
    background-color: #BBB;
}

nav ul{
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
}

.sticky{
    position:sticky;
    top:0;
}

aside {
    max-width: 350px;
}

